:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

.p-menubar-root-list,
.p-submenu-list {
    margin-bottom: 0;
}